
<h3> {{currentOption.show}} </h3>
 

  <ng-container *ngIf="weightsResultWithUser.length>0">
    <div style="display: inline-block; margin-left: 100px;">
      <p>Weights</p>
      <table >
     
        <tr *ngFor="let value of weightsResultWithUser;let i=index">
          <td>{{value.text}}</td>
          <td>{{rounding((value.programeWeight*100),100)}}</td>
          <td>
         
            <ng-container >
              <input [(ngModel)]="value.userWeight" (ngModelChange)="value.message=''" [disabled]="!value.byUser" type="text"> 
             <div *ngIf="value.message">
              <span  [class]="{must:true}">
                {{value.message}}
              </span>
             </div>
            </ng-container>
          </td>
        </tr>
      </table>
    </div>
  </ng-container>

<div class="result">
  
    <h3>Total : {{value}}</h3>
  
   <a  (click)="Calculate()" class="styled-link">Calculate</a>
</div>

<div style="position: relative;" >
  
  <a  (click)="exportToExcel()" class="styled-link">Downoad Excel</a>
  </div>