
<a  (click)="CalculateAHP()" class="styled-link">Calculate</a>
<a routerLink="/options" class="styled-link">LAHP / Weights</a>
  <table>
    
      <tr>
        <th>#No</th>
        <th>AHP Periorities</th>
        <th>Equal</th>
        <th>How much more?</th>
        
      </tr>
    
    <tbody>
      <tr *ngFor=" let array of arrays; let i = index">
        <td>{{i+1}}</td>
        <td>
          <span *ngFor="let option of array.options;">
    
            <input
              type="radio"
              [(ngModel)]="array.result.selectedOption"
              [value]="option.value"
              name="radioGroup_options'{{i}}'"
            />
            <label for="radioGroup_options">{{ option.symble }}</label>
          </span>
        </td>
        <td>
          <input
              type="radio"
              [(ngModel)]="array.result.selectedNumber"
              [value]="array.numbers[0]"
              name="radioGroup_numbers{{i}}"
            />
            <label for="radio">{{ array.numbers[0] }}</label>
        </td>
        <td>
          <span *ngFor="let num of array.numbers;let j=index">
           <ng-container *ngIf="j>0">
            <input
            type="radio"
            [(ngModel)]="array.result.selectedNumber"
            [value]="num"
            name="radioGroup_numbers{{i}}"
          />
          <label for="radio">{{ num }}</label>
          </ng-container>
           </span>
        </td>
        
      </tr>
    </tbody>
  </table>
  

<ng-container *ngIf="arrayResult.length>0">
  <div style="display: inline-block;">
    <p>matrix</p>
    <table >
      <tr>
        <td></td>
        <td *ngFor="let s of workingSymboles">{{s}}</td>
      </tr>
      <tr *ngFor="let row of arrayResult;let i=index">
        <td>{{workingSymboles[i]}}</td>
        <td *ngFor="let cell of row">{{ cell }}</td>
      </tr>
    </table>
  </div>
  
</ng-container>
<ng-container *ngIf="weightsResult.length>0">
  <div style="display: inline-block; margin-left: 100px;">
    <p>Weights</p>
    <table >
      <!-- <tr>
        <td></td>
        <td *ngFor="let s of workingSymboles">{{s}}</td>
      </tr> -->
      <tr *ngFor="let value of weightsResult;let i=index">
        <td>{{workingSymboles[i]}}</td>
        <td>{{value}}</td>
      </tr>
    </table>
  </div>
</ng-container>

